<!DOCTYPE html>
<html ng-app="adminDashboard">
    <head>
        <title>EagleEye-Panel</title>
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover">
        <meta name="color-scheme" content="light dark">
        <link href="{{url_for('static', filename='stylesheets/tailwind.css')}}"  rel='stylesheet' type='text/css'/> 
        <script src="{{url_for('static', filename='javascripts/angular/angular.js')}}"></script>
        <script src="{{url_for('static', filename='javascripts/angular/angular-resource.js')}}"></script>
        <script src="{{url_for('static', filename='javascripts/jquery/jquery.js')}}"></script>
        <script src="{{url_for('static', filename='javascripts/angular/angular-route.js')}}"></script>
        <link href="{{url_for('static', filename='stylesheets/fontawesome/css/all.min.css')}}"  rel='stylesheet' type='text/css'/> 
    </head>
    <body class="bg-gray-200">
        <nav class='w-full bg-white p-2 border shadow shadow'>                
            <div class='inline-flex'>
                <img  class='w-32 h-24' src="{{url_for('static', filename='a54a65a8caeb42baf0f6a9e39a4bb6b7.png')}}"/>
                <div class=' font-bold text-3xl text-black text-green-500 my-8'>EagleEye</div>
            </div>
            <div class='absolute top-6 right-6 inline-flex'>
                <div>
                    <i class='border rounded rounded-full fa fa-user p-2 m-2'></i>
                </div>
                <div>
                    <div class="block font-bold block text-gray-600">{{user_details.name}}</div>
                    <div class="block text-gray-400">{{user_details.role}}</div>
                </div>
            </div>
        </nav>
        <div class="w-full h-screen inline-flex">
            <div class='bg-white border shadow w-1/4 h-screen p-4'>
                <a href='#/' class='align-center block p-2 my-2 rounded list-item rounded' id="qa">Quick Analytics</a>
                <a href='#/users'class='text-gray-600 align-center block my-2 p-2 list-item rounded' id="user">System Users</a>
                <a class='text-gray-600 align-center block my-2 p-2 list-item rounded' id="sms">SMS alerts</a>
                <a class='text-gray-600 align-center block my-2 p-2 list-item rounded' id="ma">Maps</a>
                <a href='#/diseases' class='text-gray-600 align-center block my-2 p-2 list-item rounded' id='kb'>Disease Information</a>
            </div>
            <div class="w-3/4 shadow border ng-view p-4"></div>
        </div>
    </body>
    <script>
        let app = angular.module('adminDashboard', ['ngRoute', 'ngResource'])
        let url = 'localhost:5000'

        app.config(function($routeProvider){
            $routeProvider.when('/',{
                controller: 'quickAnalytics',
                templateUrl: "{{url_for('static', filename='angular_templates/quick_analytics.html')}}"
            }).when('/users', {
                templateUrl: "{{url_for('static', filename='angular_templates/users.html')}}",
                controller: 'users'
            }).when('/add-user', {
                templateUrl: "{{url_for('static', filename='angular_templates/add-user.html')}}",
                controller: 'addUser'
            }).when('/diseases', {
                templateUrl: "{{url_for('static', filename='angular_templates/diseases.html')}}",
                controller: 'diseases'
            }).when('/more', {
                templateUrl: "{{url_for('static', filename='angular_templates/view_disease.html')}}",
                controller: 'viewDisease'
            }).otherwise({
                redirectTo: '/'
            })
        })

        app.controller('quickAnalytics', function($scope, $http, $rootScope){
            activate($('#qa'))
            $scope.brief = {}
            $http.get('../reports/brief/').success(function(response){
                $scope.brief = response
            }).error(function(err){
                console.log(err)
                // do nothing
            })
        })

        app.controller('users', function($scope, $http, $rootScope){
            activate($('#user'))
            $('.list-item').css('background', 'white')
            $('#user').css('background', '#0000dd')
            $scope.users = []
            $http.get('../user-list').success(function(response){
                $scope.users  = response['users']
            }).error(function(error){
                console.log(error)
            })
        })

        app.controller('addUser', function($scope, $rootScope, $http){
            $scope.state = 'Register'
            $scope.userRole='expert'
            $scope.register = function(){
                $scope.state = 'Wait..'
                $http.post('../../register', {
                    name: $scope.userName,
                    district: 'Mzuzu',
                    pNumber: $scope.userPn,
                    password: $scope.userPassword,
                    role: $scope.userRole
                }).success(function(response){
                    console.log(response)
                    if(response.success){
                        alert('User added successfully.')
                        window.location = '#/users'
                    }
                }).error(function(err){
                    $scope.state = 'Register'
                    alert('ERROR')
                })
            }
        })

        app.controller('diseases', function($scope, $http, $rootScope){
            activate($('#kb'))
            $('.list-item').css('background', 'white')
            $('#kb').css('background', '#0000dd')
            $rootScope.editId
            $scope.command = 'Next'
            $scope.diseases = []
            $scope.lang = 'English'
            $scope.params = null
            $http.get('../get-diseases/').success(function(response){
                console.log(response)
                $scope.diseases = response.diseases
            })

            $scope.pop = function(){
                $scope.lang = 'English'
                if($('.popup').is(':hidden')){
                    $('.popup').fadeIn('slow')
                }
                else{
                    $('.popup').hide()
                }
            }

            $scope.addDisease = function(){
                $scope.lang = 'Chichewa'
                if($scope.command == 'Next'){
                    // chichewa screen
                    $scope.command = 'Save'
                    $scope.params = {
                        name: $scope.diseaseName, 
                        desc: $scope.diseaseDesc,
                        langs: 'eng'
                    }
                    $scope.diseaseName = ''
                    $scope.diseaseDesc = ''
                }
                else if($scope.command == 'Save'){
                    $scope.params.name_ch = $scope.diseaseName
                    $scope.params.desc_ch = $scope.diseaseDesc
                    $scope.params.langs = 'eng,ch'
                    $scope.saveDisease()
                }
            }
            $scope.skip = function(){
                $scope.params.name_ch = ""
                $scope.params.desc_ch = "" 
                $scope.saveDisease()
            }
            $scope.saveDisease = function(){
                console.log($scope.params)
                $scope.command = 'Wait..'
                $http.post('../add-disease', $scope.params).success(function(response){
                    if(response.success){
                        alert('Successful')
                        $rootScope.editId = response.id
                        window.location = '#/more'
                    }   
                    else{
                        alert('Operation denied by server')
                    }
                }).error(function(error){
                    alert('Network/server error')
                    $scope.command = 'Save'
                })
            }
            $scope.viewDisease = function(disease){
                $rootScope.editId = disease.id
                console.log($rootScope.editId)
                window.location = '#/more'
            }
        })

        app.controller('viewDisease', function($scope, $rootScope, $http){
            $scope.name = ""
            $scope.desc = ""
            $scope.symptoms = []
            $scope.controls = []
            $scope.chemicals = []
            $scope.command = 'Save'
            if(!$rootScope.editId) window.location = '#/diseases'
            $http.post('../fetch_disease', {
                id: $rootScope.editId
            }).success(function(response){
                console.log(response)
                console.log(response.general_information[0]['name'])
                $scope.name = response.general_information[0]['name']
                $scope.desc = response.general_information[0].desc
                $scope.symptoms = response.symptoms
                $scope.controls = response.controls
                $scope.chemicals = response.chemicals

            }).error(function(error){
                window.location = '#/diseases'
            })

            $scope.popElement = function(classValue){
                if($('.'+classValue).is(':hidden')){
                    $('.'+classValue).show()
                }
                else{
                    $('.'+classValue).hide()
                }
            }

            $scope.addElement = function(element){
                if(element === 'symptom'){
                    $scope.command = 'Wait...'
                    $http.post('../add-symptom', {
                        name: $scope.symptomName,
                        disease_id:  $rootScope.editId
                    }).success(function(response){
                        $scope.symptoms.push({"id":response.lastElement, "name":$scope.symptomName, "disease_id":$rootScope.editId})
                        $scope.symptomName = ""
                        $scope.command = 'Save'
                        $('.popup-symptom').hide()
                        //$scope.symptoms.push(response.lastElement)
                    }).error(function(err){
                        $('.popup-symptom').hide()
                        alert('Saving Failed')
                    })
                }
                else if(element === 'control'){
                    $scope.command = 'Wait...'
                    $http.post('../add-control', {
                        control: $scope.controlName,
                        disease_id:  $rootScope.editId
                    }).success(function(response){
                        $scope.controls.push({"id":response.lastElement, "control":$scope.controlName, "disease_id":$rootScope.editId})
                        $scope.controlName = ""
                        $scope.command = 'Save'
                        $('.popup-control').hide()
                    }).error(function(err){
                        $('.popup-control').hide()
                        alert('Saving Failed')
                    })
                }
                else if(element === 'chemical'){
                    $scope.command = 'Wait...'
                    $http.post('../add-chemical', {
                        chemical_name: $scope.chemicalName,
                        dosage: $scope.chemicalDosage,
                        disease_id:  $rootScope.editId
                    }).success(function(response){
                        $scope.chemicals.push({"id":response.lastElement, "chemical_name":$scope.chemicalName, "dosage":$scope.chemicalDosage,"disease_id":$rootScope.editId})
                        $scope.chemicalName = ""
                        $scope.chemicalDosage = ""
                        $scope.command = 'Save'
                        $('.popup-chemical').hide()
                    }).error(function(err){
                        $('.popup-chemical').hide()
                        $scope.command='Save'
                        alert('Saving Failed')
                    })
                }
            }
        })

        let activate = function(id){
            $('.list-item').css('background', 'white')
            $('.list-item').css('color', 'gray')
            id.css('background', '#0000dd')
            id.css('color', 'white')
        }
    </script>
</html>
