<!DOCTYPE html>
<html ng-app="adminDashboard">
    <head>
        <title>EagleEye-Panel</title>
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover">
        <meta name="color-scheme" content="light dark">
        <link href="{{url_for('static', filename='stylesheets/tailwind.css')}}"  rel='stylesheet' type='text/css'/> 
        <script src="{{url_for('static', filename='javascripts/angular/angular.js')}}"></script>
        <script src="{{url_for('static', filename='javascripts/angular/angular-resource.js')}}"></script>
        <script src="{{url_for('static', filename='javascripts/jquery/jquery.js')}}"></script>
        <script src="{{url_for('static', filename='javascripts/angular/angular-route.js')}}"></script>
        <link href="{{url_for('static', filename='stylesheets/fontawesome/css/all.min.css')}}"  rel='stylesheet' type='text/css'/> 
        <style>
            @media print {
                .no-print{
                    display: none !important
                }
                .only-print{
                    display: block;
                }
            }
        </style>
    </head>
    <body class="bg-gray-200">
        <nav class='no-print w-full bg-white p-2 border shadow shadow'>                
            <div class='inline-flex'>
                <img  class='w-32 h-24' src="{{url_for('static', filename='a54a65a8caeb42baf0f6a9e39a4bb6b7.png')}}"/>
                <div class=' font-bold text-3xl text-black text-green-500 my-8'>EagleEye</div>
            </div>
            <div class='absolute top-6 right-6 inline-flex'>
                <div>
                    <i class='border rounded rounded-full fa fa-user p-2 m-2'></i>
                </div>
                <div>
                    <div class="block font-bold block text-gray-600">{{user_details.name}}</div>
                    <div class="block text-gray-400">{{user_details.role}}</div>
                </div>
            </div>
        </nav>
        <div class="w-full h-screen inline-flex">
            <div class='bg-white border shadow w-1/4 h-screen p-4 no-print'>
                <a href='#/' class='align-center block p-2 my-2 rounded list-item rounded' id="qa">Quick Analytics</a>
                <a href='#/users'class='text-gray-600 align-center block my-2 p-2 list-item rounded' id="user">System Users</a>
                <a class='text-gray-600 align-center block my-2 p-2 list-item rounded' id="sms">SMS alerts</a>
                <a class='text-gray-600 align-center block my-2 p-2 list-item rounded' id="ma">Maps</a>
                <a href='#/diseases' class='text-gray-600 align-center block my-2 p-2 list-item rounded' id='kb'>Disease Information</a>
            </div>
            <div class="w-3/4 shadow border ng-view p-4"></div>
        </div>
    </body>
    <script>
        let app = angular.module('adminDashboard', ['ngRoute', 'ngResource'])
        let url = 'localhost:5000'

        app.config(function($routeProvider){
            $routeProvider.when('/',{
                controller: 'quickAnalytics',
                templateUrl: "{{url_for('static', filename='angular_templates/quick_analytics.html')}}"
            }).when('/users', {
                templateUrl: "{{url_for('static', filename='angular_templates/users.html')}}",
                controller: 'users'
            }).when('/add-user', {
                templateUrl: "{{url_for('static', filename='angular_templates/add-user.html')}}",
                controller: 'addUser'
            }).when('/diseases', {
                templateUrl: "{{url_for('static', filename='angular_templates/diseases.html')}}",
                controller: 'diseases'
            }).when('/more', {
                templateUrl: "{{url_for('static', filename='angular_templates/view_disease.html')}}",
                controller: 'viewDisease'
            }).when('/full-report', {
                templateUrl: "{{url_for('static', filename='angular_templates/report_query.html')}}",
                controller: 'reportQuery'
            }).when('/report', {
                templateUrl: "{{url_for('static', filename='angular_templates/report.html')}}",
                controller: "report"
            }).otherwise({
                redirectTo: '/'
            })
        })

        app.controller('quickAnalytics', function($scope, $http, $rootScope){
            activate($('#qa'))
            $scope.brief = {}
            $http.get('../reports/brief/').success(function(response){
                $scope.brief = response
            }).error(function(err){
                console.log(err)
                // do nothing
            })
        })

        app.controller('users', function($scope, $http, $rootScope){
            activate($('#user'))
            $('.list-item').css('background', 'white')
            $('#user').css('background', '#0000dd')
            $scope.users = []
            $http.get('../user-list').success(function(response){
                $scope.users  = response['users']
            }).error(function(error){
                console.log(error)
            })
        })

        app.controller('addUser', function($scope, $rootScope, $http){
            $scope.state = 'Register'
            $scope.userRole='expert'
            $scope.register = function(){
                $scope.state = 'Wait..'
                $http.post('../../register', {
                    name: $scope.userName,
                    district: 'Mzuzu',
                    pNumber: $scope.userPn,
                    password: $scope.userPassword,
                    role: $scope.userRole
                }).success(function(response){
                    console.log(response)
                    if(response.success){
                        alert('User added successfully.')
                        window.location = '#/users'
                    }
                }).error(function(err){
                    $scope.state = 'Register'
                    alert('ERROR')
                })
            }
        })

        app.controller('diseases', function($scope, $http, $rootScope){
            activate($('#kb'))
            $('.list-item').css('background', 'white')
            $('#kb').css('background', '#0000dd')
            $rootScope.editId
            $scope.command = 'Next'
            $scope.diseases = []
            $scope.lang = 'English'
            $scope.params = null
            $http.get('../get-diseases/').success(function(response){
                console.log(response)
                $scope.diseases = response.diseases
            })

            $scope.pop = function(){
                $scope.lang = 'English'
                if($('.popup').is(':hidden')){
                    $('.popup').fadeIn('slow')
                }
                else{
                    $('.popup').hide()
                }
            }

            $scope.addDisease = function(){
                $scope.lang = 'Chichewa'
                if($scope.command == 'Next'){
                    // chichewa screen
                    $scope.command = 'Save'
                    $scope.params = {
                        name: $scope.diseaseName, 
                        desc: $scope.diseaseDesc,
                        langs: 'eng'
                    }
                    $scope.diseaseName = ''
                    $scope.diseaseDesc = ''
                }
                else if($scope.command == 'Save'){
                    $scope.params.name_ch = $scope.diseaseName
                    $scope.params.desc_ch = $scope.diseaseDesc
                    $scope.params.langs = 'eng,ch'
                    $scope.saveDisease()
                }
            }
            $scope.skip = function(){
                $scope.params.name_ch = ""
                $scope.params.desc_ch = "" 
                $scope.saveDisease()
            }
            $scope.saveDisease = function(){
                console.log($scope.params)
                $scope.command = 'Wait..'
                $http.post('../add-disease', $scope.params).success(function(response){
                    if(response.success){
                        alert('Successful')
                        $rootScope.editId = response.id
                        window.location = '#/more'
                    }   
                    else{
                        alert('Operation denied by server')
                    }
                }).error(function(error){
                    alert('Network/server error')
                    $scope.command = 'Save'
                })
            }
            $scope.viewDisease = function(disease){
                $rootScope.editId = disease.id
                console.log($rootScope.editId)
                window.location = '#/more'
            }
        })

        app.controller('viewDisease', function($scope, $rootScope, $http){
            $scope.name = ""
            $scope.desc = ""
            $scope.symptoms = []
            $scope.controls = []
            $scope.chemicals = []
            $scope.command = 'Save'
            $scope.switchLang = 'Chichewa'
            $scope.currLang = 'English'
            $scope.translated = false
            if(!$rootScope.editId) window.location = '#/diseases'
            $http.post('../fetch_disease', {
                id: $rootScope.editId,
                lang: $scope.currLang
            }).success(function(response){
                console.log(response)
                console.log(response.general_information[0]['name'])
                $scope.name = response.general_information[0]['name']
                $scope.desc = response.general_information[0].desc
                $scope.name_ch = response.general_information[0]['name_ch']
                $scope.desc_ch = response.general_information[0].desc_ch
                $scope.symptoms = response.symptoms
                $scope.controls = response.controls
                $scope.chemicals = response.chemicals
                $scope.translated = (response.general_information[0].langs == 'eng,ch')
                $scope.name_eng = $scope.name
                $scope.desc_eng = $scope.desc       
            }).error(function(error){
                window.location = '#/diseases'
            })

            $scope.switchLangs = function(){
                if($scope.currLang == 'English'){
                    $scope.currLang = 'Chichewa'
                    $scope.switchLang = 'English'
                    $scope.name = $scope.name_ch
                    $scope.desc = $scope.desc_ch
                    $scope.refetchDiseaseInfo()
                }
                else if($scope.currLang == 'Chichewa'){
                    $scope.currLang = 'English',
                    $scope.switchLang = 'Chichewa'
                    console.log($scope.name_eng, $scope.desc_eng)
                    $scope.name = $scope.name_eng
                    $scope.desc = $scope.desc_eng
                    $scope.refetchDiseaseInfo()
                }
            }

            $scope.refetchDiseaseInfo = function(){
                $http.post('../fetch_disease', {
                    id: $rootScope.editId,
                    lang: $scope.currLang
            }).success(function(response){
                    $scope.symptoms = response.symptoms
                    $scope.controls = response.controls
                    $scope.translated = (response.general_information[0].langs == 'eng,ch')    
                }).error(function(error){
                    alert('Something broke, retry')
                })
            }

            $scope.popElement = function(classValue){
                if($('.'+classValue).is(':hidden')){
                    $('.'+classValue).show()
                }
                else{
                    $('.'+classValue).hide()
                }
            }

            $scope.addElement = function(element){
                if(element === 'symptom'){
                    $scope.command = 'Wait...'
                    $http.post('../add-symptom', {
                        name: $scope.symptomName,
                        disease_id:  $rootScope.editId,
                        lang: $scope.currLang
                    }).success(function(response){
                        $scope.symptoms.push({"id":response.lastElement, "name":$scope.symptomName, "disease_id":$rootScope.editId})
                        $scope.symptomName = ""
                        $scope.command = 'Save'
                        $('.popup-symptom').hide()
                        //$scope.symptoms.push(response.lastElement)
                    }).error(function(err){
                        $('.popup-symptom').hide()
                        alert('Saving Failed')
                    })
                }
                else if(element === 'control'){
                    $scope.command = 'Wait...'
                    $http.post('../add-control', {
                        control: $scope.controlName,
                        disease_id:  $rootScope.editId,
                        lang: $scope.currLang
                    }).success(function(response){
                        $scope.controls.push({"id":response.lastElement, "control":$scope.controlName, "disease_id":$rootScope.editId})
                        $scope.controlName = ""
                        $scope.command = 'Save'
                        $('.popup-control').hide()
                    }).error(function(err){
                        $('.popup-control').hide()
                        alert('Saving Failed')
                    })
                }
                else if(element === 'chemical'){
                    $scope.command = 'Wait...'
                    $http.post('../add-chemical', {
                        chemical_name: $scope.chemicalName,
                        dosage: $scope.chemicalDosage,
                        disease_id:  $rootScope.editId
                    }).success(function(response){
                        $scope.chemicals.push({"id":response.lastElement, "chemical_name":$scope.chemicalName, "dosage":$scope.chemicalDosage,"disease_id":$rootScope.editId})
                        $scope.chemicalName = ""
                        $scope.chemicalDosage = ""
                        $scope.command = 'Save'
                        $('.popup-chemical').hide()
                    }).error(function(err){
                        $('.popup-chemical').hide()
                        $scope.command='Save'
                        alert('Saving Failed')
                    })
                }
            }
        })

        app.controller('reportQuery', function($scope, $http, $rootScope){
            $scope.noFilterGeos = true
            $scope.noFilterTime = true
            $scope.noFilterDisease = true
            $scope.districts = []
            $scope.diseases = []
            $scope.command = "Fetch Report"

            $http.get('../reports/params').success(function(result){
                $scope.diseases = result.diseases
                $scope.districts = result.geos

            }).error(function(err){
                console.log(err)
            })
            $scope.startQuery = function(){
                // check filters
                let selectedDiseases = []
                let selectedGeos = []
                let from = "01/01/2022, 00:00:00"
                let today = new Date()
                day = String(today.getDate())
                month = String(today.getMonth()+1)
                year = String(today.getFullYear())
                hours = String(today.getHours())
                mins = String(today.getMinutes())
                secs = String(today.getSeconds())
                
                to = day+"/"+month+'/'+year+'/'+", "+hours+":"+mins+":"+secs

                if(!$scope.noFilterDisease) {
                    selectedDiseases = $scope.diseaseSelections
                }
                else{
                    let sd = []
                    for(i in $scope.diseases){
                        sd.push($scope.diseases[i]['id'])
                    }
                    selectedDiseases = sd
                }
                if(!$scope.noFilterGeos) {
                    selectedGeos = $scope.geoSelections
                }
                else{
                    let sg = []
                    for(i in $scope.districts){
                        sg.push($scope.districts[i]['district'])
                    }
                    selectedGeos = sg
                }
                if(!$scope.noFilterTime){
                    from = $scope.dateFrom
                    to = $scope.dateTo
                }
                from = from+", 00:00:00" 
                to = to+", 00:00:00"
                $scope.command = "Working.."
                $http.post('../reports/full', {
                    from: from,
                    to: to,
                    selectedGeos: selectedGeos,
                    selectedDiseases: selectedDiseases
                }).success(function(result){
                    console.log(result)
                    $rootScope.report = result
                    window.location = "#/report"
                }).error(function(err){
                    alert('Error Fetching Report')
                    $scope.command = "Fetch Report"
                })    
            }
        })

        app.controller('report', function($scope, $rootScope, $http){
            $scope.diseaseReport = []
            $scope.total_cases = 0
            $scope.time = new Date()
                
            if(!$rootScope.report){
                window.location = "#/"
            }
            else{
                $scope.diseaseReport = $rootScope.report.report
                $scope.total_cases = $rootScope.report.total_cases
            }
        })
        let activate = function(id){
            $('.list-item').css('background', 'white')
            $('.list-item').css('color', 'gray')
            id.css('background', '#0000dd')
            id.css('color', 'white')
        }
    </script>
</html>
